* {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 13px;
  }

html, body {
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
a {
    color: black;
    text-decoration: none;
    padding-left: 15px;
  }
a:hover {
    text-decoration: underline;
}

i {
    padding-left: 15px;
  }

.user {
height: 30px;
border-radius: 50%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.nav-left {
    margin: 10px 10px;
    display: flex;
    align-items: center;
}
.nav-right {
    margin: 10px 10px;
    display: flex;
    align-items: center;
}

.user {
    height: 30px;
    border-radius: 50%;
}
.center {
    padding-bottom: 250px;
    text-align: center;
  
}

.image {
    width: 270px;
    margin: auto;
}

.search {
    padding: 5px 8px 0px 14px;
    width: 582px;
    height: 44px;
    margin: 20px auto;
    border-radius: 23px;
    border: 1px solid #dfe1e5;
    background-color:#fff;
}

.search:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
  }


input[type="button"] {
    margin: 11px 4px;
    padding: 0 16px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    font-size: 14px;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5F6368;
  }

input[type="button"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

textarea:focus, input:focus{
    outline: none;
    
}

.footer {
    margin-bottom: 15px;
    color: #5F6368;
    font-family: arial;
    font-size: 15px;
    background-color: #f2f2f2;  
}

.footer-top {
    padding-left: 27px;
    padding-bottom: 15px;
}

.footer-bottom {
    font-size: 14px;
    padding: 0px 27px 0px 27px;

}

.footer-bottom-left {
    display: inline-block;
    justify-self: left;
    width: fit-content;
}

.footer-bottom-right {
    display: inline-block;
    justify-self: right;
    width: fit-content;
}